<template>
  <div class="app">
    <post-form
      @create="createPost"
    />
    <post-list
        :posts="posts"
    />
  </div>
</template>

<script>
import PostList from "@/components/PostList.vue"
import PostForm from "@/components/PostForm.vue"

export default {
  components: {
    PostList, PostForm
  },
  data() {
    return {
      posts: [
        {id: 1, title: 'jaja1', body: 'Ja1'},
        {id: 2, title: 'jaja2', body: 'Ja2'},
        {id: 3, title: 'jaja3', body: 'Ja3'},
      ],
    }
  },
  methods: {
    createPost(post) {
      this.posts.push(post);
    },
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
}

</style>